@import 'fonts.css';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #035E7F;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 15px 0;
}

.background_full_screen {
    position: fixed;
    top: -10px;
    left: -20px;
    width: 110%;
    height: 125%;
    z-index: 1;
    filter: blur(3px);
}

.main_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    font-family: "Dosis", sans-serif;
}

body.home:not(.logged_user) h1 {
    font-size: 7rem;
}

h2 {
    font-size: 2.4rem;
}

.home h2 {
    color: #F37C20;
}

.home:not(.logged_user) .background_full_screen {
	background-image: url("../images/roadtrip.jpg");
}

.login:not(.logged_user) .background_full_screen {

}

header {
    background-color: #F37C20;
	padding: 10px 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.home:not(.logged_user) header {
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

section {
    padding-top: 104px;
}

.site_logo img {
    width: 220px;
    height: auto;
}

.top_menu ul {
    list-style: none;
    text-align: right;
}

.top_menu li {
    display: inline-block;
}

.top_menu a {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    display: block;
    font-size: 1.8rem;
    margin-top: 16px;
    padding: 6px 20px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    margin-left: 15px;
    border-radius: 30px;
    transition: 0.3s all;
    letter-spacing: 1px;
}

.top_menu a:hover {
    background-color: rgba(255,255,255,0.9);
    color: #F37C20;
    transition: 0.3s all;
}

.top_menu button{
	border-radius: 8px;
}

.start{
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.7);
    color: #333;
    padding: 40px;
    font-size: 1.9rem;
}

.fa-facebook-official{
	font-size: 20rem;
	margin-left: 300px;
	color: blue;
}

.event {
    display: inline-block;
    margin-left: 100px;
}

.new_user p {
    font-size: 1.6rem;
}
.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.home_box,
.rides .rides {
    padding: 30px;
    background-color: #ddd;
    text-align: center;
}

.home h3,
.rides h3 {
    margin: 0;
    padding: 10px 30px;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    margin-top: 30px;
}

.profile_pic {
    border-radius: 50%;
}

.user_header {
    padding-top: 20px;
}

.user_header div {
    margin-right: 10px;
}

.user_header div,
.user_header h1 {
    display: inline-block;
    vertical-align: middle;
}

.user_header h1 {
    margin: 0;
}

.rides .rides {

}

.about p:not(.callout_p) {
    margin: 0;
    padding: 30px 10px;
}

.callout {
  background-color: #035E7F;
  color: white;
  display: inline-block;
  font-size: 3rem;
  height: 80px;
  line-height: 2.6;
  text-align: center;
  width: 80px;
    vertical-align: middle;
  border-radius: 50%;
  margin-top: 18px;
  margin-bottom: 18px;
}

.about h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.callout_p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
    padding: 0 20px;
}

.get_started {
  background-color: #F37C20;
  border: medium none;
  color: white;
  display: block;
  font-size: 2rem;
  margin: auto;
  padding: 15px 0;
  width: 380px;
}

.login_container {
    text-align: center;
}

.login_container p {
    margin: 30px 0;
}

.login_container img {
    height: auto;
    display: block;
    width: 300px;
    margin: auto;
}

.branding {
    text-transform: uppercase;
    font-size: 6rem;
    color: #F37C20;
}

.map {
    background-repeat: no-repeat;
}