@import 'fonts.css';

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #035E7F;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 15px 0;
}

.background_full_screen {
    position: fixed;
    top: -10px;
    left: -20px;
    width: 110%;
    height: 115%;
    z-index: 1;
    filter: blur(3px);
}

.main_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-bottom: 400px;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    font-family: "Dosis", sans-serif;
}

body.home:not(.logged_user) h1 {
    font-size: 7rem;
}

h2 {
    font-size: 2.4rem;
}

.home h2 {
    color: #F37C20;
}

.home .background_full_screen {
	background-image: url("../images/roadtrip3.jpeg");
	background-size: cover;
	filter: blur(4px);
	background-position: bottom center;
}

.home:not(.logged_user) .background_full_screen {
	background-image: url("../images/roadtrip.jpg");
	background-size: cover;
}

.rides .background_full_screen {
	background-image: url("../images/city.jpg");
	background-size: cover;
	filter: blur(2px);
	background-position: bottom center;
}

.single_ride .background_full_screen {
	background-image: url("../images/city.jpg");
	background-size: cover;
	filter: blur(2px);
	background-position: bottom center;
}

.login:not(.logged_user) .background_full_screen {

}

header {
    background-color: #F37C20;
    background: rgb(243,124,32);
    background: -moz-linear-gradient(left,  rgba(243,124,32,1) 28%, rgba(255,0,114,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(243,124,32,1) 28%,rgba(255,0,114,1) 100%);
    background: linear-gradient(to right,  rgba(243,124,32,1) 28%,rgba(255,0,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37c20', endColorstr='#ff0072',GradientType=1 );
	padding: 10px 0 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.home:not(.logged_user) header {
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

section {
    padding-top: 104px;
}

.site_logo img {
    width: 220px;
    height: auto;
}

.top_menu ul {
    list-style: none;
    text-align: right;
}

.top_menu li {
    display: inline-block;
}

.top_menu a {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    display: block;
    font-size: 1.8rem;
    margin-top: 16px;
    padding: 6px 20px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    margin-left: 15px;
    border-radius: 30px;
    transition: 0.3s all;
    letter-spacing: 1px;
}

.top_menu a:hover {
    background-color: rgba(255,255,255,0.9);
    color: #F37C20;
    transition: 0.3s all;
}

.top_menu button{
	border-radius: 8px;
}

.start{
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.7);
    color: #333;
    padding: 40px;
    font-size: 1.9rem;
}

.fa-facebook-official{
	font-size: 20rem;
	margin-left: 300px;
	color: blue;
}

.event {
    display: inline-block;
    margin-left: 100px;
}

.new_user p {
    font-size: 1.6rem;
}

.home_box {
    padding: 30px;
    background-color: #ddd;
    margin: auto;
    width: 70%;
}

.rides .rides .ride {
    padding: 20px;
    background-color: #ddd;
    text-align: left;
}

.home h3,
.rides h3 {
    margin: 0;
    padding: 10px 30px;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.5);
    color: white;
    margin-top: 30px;
}

.home h3 {
    width: 70%;
    margin: 40px auto 0;
}

.rides h3 {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.6px;
}

.profile_pic {
    border-radius: 50%;
}

.user_header {
    padding-top: 20px;
}

.user_header div:not(:last-child) {
    margin-right: 10px;
}

.user_header div,
.user_header h1 {
    display: inline-block;
    vertical-align: middle;
}

.user_header h1 {
    margin: 0;
}

.rides .rides {

}

.about p:not(.callout_p) {
    margin: 0;
    padding: 30px 10px;
}

.callout {
  background-color: #035E7F;
  color: white;
  display: inline-block;
  font-size: 3rem;
  height: 80px;
  line-height: 2.6;
  text-align: center;
  width: 80px;
    vertical-align: middle;
  border-radius: 50%;
  margin-top: 18px;
  margin-bottom: 18px;
}

.about h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.callout_p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 80px);
    padding: 0 20px;
}

.get_started,
.new_ride_button,
.continue {
  background-color: #F37C20;
  background: rgb(255,0,114);
  border: medium none;
  color: white;
  display: block;
  font-size: 2rem;
  margin: auto;
  padding: 15px 0;
  width: 380px;
}

.new_ride_button {
    margin: 40px auto;
    width: 100%;
}

.login_container {
    text-align: center;
}

.login_container p {
    margin: 30px 0;
}

.login_container img {
    height: auto;
    display: block;
    width: 300px;
    margin: auto;
}

.branding {
    text-transform: uppercase;
    font-size: 6rem;
    color: #F37C20;
}

.map {
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 22px;
}

.map iframe {
    height: 528px;
}

.new_ride_container input,
.home input {
    width: 100%;
    margin-bottom: 10px;
}

.new_user {
    text-align: center;
}

.route p {
    margin-top: 23px;
}

.rides .date_time {
    float: right;
    font-size: 2rem;
}

.home h1 {
  color: white;
}

.callout_buttons {
    float: right;
}

.callout_buttons button {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    padding: 14px 24px;
    margin-left: 10px;
    border-radius: 10px;
}

.callout_buttons button:hover {

}

.callout_buttons i {
    color: #F37C20;
}

.single_ride_container {
    background-color: white;
}

.single_ride_container > div:not(:first-child) {
    border-bottom: 2px solid #666;
    padding: 20px 30px;
}

.single_ride_map {
    position: relative;
}

.single_ride_route > div {
    text-align: center;
}

.single_ride_route div div {
    display: inline-block;
    margin: 0 5px;
}

.single_ride_route .from,
.single_ride_route .to {
    padding: 0 20px;
}

.single_ride_route div div:nth-child(2) h2 {
    font-size: 3rem;
    margin: 20px 0 0;
}

.single_ride_date {
    font-size: 3rem;
}

.ride_summary h2 {
    font-size: 3.3rem;
}

.rides h3 a {
    color: inherit;
}

.new_ride_container textarea {
    margin: 0;
    padding: 10px 20px;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
}

.more_fields {
    display: none;
}

.more_fields small {
    color: #aaa;
}

.start h1 {
    color: #333;
}

.join_ride span {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  font-family: "Raleway";
  font-size: 13rem;
  font-weight: 100;
  height: 70px;
  line-height: 0;
  padding-top: 35px;
  text-align: center;
  width: 70px;
  float: left;
  margin-right: 10px;
}

.join_ride {
    font-family: "Raleway";
    font-size: 4rem;
    line-height: 69px;
}

.single_ride_map {
    position: relative;
}

.single_ride_map .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.leave_ride span {
    padding-top: 23px;
}

#top {
  bottom: 87px;
  height: 1px;
  position: absolute;
  width: 100%;
}

.user_ride {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 70px;
}

.rides_list {
    background-color: rgba(0,0,0,0.3);
}

.user_ride h2 {
  border-bottom: 2px solid;
  padding-bottom: 7px;
}

.cancel_ride span {
    font-size: 7rem;
    padding-top: 28px;
}

.profile_pic {
    border-radius: 50%;
    margin-right: 10px;
}
.single_ride_riders i,
.single_ride_driver i {
    font-size: 2rem;
}

.single_ride_riders i {
    font-size: 2.6rem;
}

.single_ride_riders ul,
.single_ride_riders li {
    list-style: none;
    margin: 0;
}

.rider_rating p,
#user_rating {
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

#user_rating {
  width: 128px;
}

#sidr {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  width: 260px;
  z-index: 210;
  left: -300px;
  transition: 0.3s all;
}

#sidr.open {
    left: 0 !important;
  transition: 0.3s all;
}

#mobile-menu {
  color: white;
  font-size: 4rem;
  position: absolute;
  right: 35px;
  top: 21px;
  z-index: 99999;
}

#sidr img {
  background-color: #f37c20;
  height: auto;
  width: 100%;
}

#mobile-menu {
    display: none;
    cursor: pointer;
}

.rider_rating p {
  width: 128px;
}

.rides .ride .rider_rating p {
  margin: 0;
}

@media (max-width: 990px) {
    section {
        padding-top: 174px;
    }
}

@media (max-width: 800px) {
    section {
        padding-top: 104px;
    }
    #mobile-menu {
        display: block;
    }
    .top_menu {
        display: none;
    }
    .home_box,
    .home h3 {
        width: 100%;
    }
    .rides h3 {
        font-size: 3.5rem;
    }
    .rides .date_time {
        float: none;
        display: block;
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .user_header div:not(:first-child) {
        float: none;
        display: block;
    }
    .callout_buttons button {
        display: block;
        width: 100%;
        margin: 0;
    }
}