@import 'fonts.css';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.background_full_screen {
    position: fixed;
    top: -10px;
    left: -20px;
    width: 110%;
    height: 125%;
    z-index: 1;
    filter: blur(3px);
}

.main_wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

h1 {
    font-size: 4rem;
    font-family: "Dosis", sans-serif;
}

.home:not(.logged_user) .background_full_screen {
	background-image: url("../images/roadtrip.jpg");
}

.login:not(.logged_user) .background_full_screen {
	
}

header {
	background-color: rgba(0,0,0,0.4);
	width: 0 auto;
	padding: 10px;
}

.site_logo img {
    width: 180px;
    height: auto;
}

.top_menu ul {
    list-style: none;
    text-align: right;
}

.top_menu li {
    display: inline-block;
}

.top_menu a {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    display: block;
    font-size: 1.8rem;
    margin-top: 10px;
    padding: 6px 20px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    margin-left: 15px;
    border-radius: 30px;
    transition: 0.3s all;
    letter-spacing: 1px;
}

.top_menu a:hover {
    background-color: rgba(255,255,255,0.9);
    color: #333;
    transition: 0.3s all;
}

.top_menu button{
	border-radius: 8px;
}

.start{
    width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.5);
    color: #333;
    padding: 40px;
}
.fa-facebook-official{
	font-size: 20rem;
	margin-left: 300px;
	color: blue;
}
.event {
    display: inline-block;
    margin-left: 100px;
}