{% extends "layout.html" %}
{% block title %}Ridr | Rides{% endblock %}
{% block body_class %}rides{% endblock %}
{% block content %}
    <h1>Latest Rides</h1>
    <div class="rides">
        {% if events %}
            {% for event in events %}
                <h3><a href="/event/{{ event.ride_id }}">{{ event.origin }} <small>to</small> {{ event.destination
                    }}</a>
                    <span
                        class="date_time">Leaving: {{
                    event.ride_date
                    }} {{ event.ride_time }}</span></h3>
                <div class="ride">
                    <div>{{ event.username }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>
                Whoa... no one has added any rides yet. That means you're the first! Let's <a href="/event/new">create
                a ride!</a>
            </p>
        {% endif %}
    </div>
{% endblock %}