{% extends "layout.html" %}
{% block title %}Ridr | Rides{% endblock %}
{% block body_class %}rides{% endblock %}
{% block content %}
    <h1>Latest Rides</h1>
    <div class="rides">
        {% if events %}
            {% for event in events %}
                <h3><a href="/event/{{ event.ride_id }}">{{ event.origin }} <small>to</small> {{ event.destination
                    }}</a>
                    <span
                        class="date_time">Leaving: {{
                    event.ride_date
                    }} {{ event.ride_time }}</span></h3>
                <div class="ride">
                    <div class="col-md-4">{{ event.username }}</div>
                    <div class="rider_rating col-md-4">
                        <p data-rating="{{ rider.carma }}"
                           style="background-image:url({{url_for('static',filename='images/stars.png')}});"></p>
                    </div>
                </div>
                <script>
                    jQuery(function($){
                        $('.rider_rating p').each(function(){
                            var star_rating = $(this).attr('data-rating');
                            var offset = 250;
                            for(var i = 0; i < star_rating / 0.5; i++) {
                                offset -= 25;
                            }
                            var output = '0% ';
                            output += -offset + 'px';
                            $(this).css('background-position',output);
                        });
                    });
                </script>
            {% endfor %}
        {% else %}
            <p>
                Whoa... no one has added any rides yet. That means you're the first! Let's <a href="/event/new">create
                a ride!</a>
            </p>
        {% endif %}
    </div>
{% endblock %}