{% extends "layout.html" %}
{% block title %}Ridr | Home{% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
    <div class="home">
        {%if 'user' in session%}
            {% if 'new_user' in session %}
                <h1>Hello, {{ session['user']['first_name'] }}! Thanks for signing up. We just need a little more
                    info:</h1>
                <form action="/register/process">
                    <p>{{ session['user']['first_name'] }} {{ session['user']['last_name'] }}</p>
                    <p><input type="email" name="email" placeholder="Email" required></p>
                    <p><input type="text" name="username" placeholder="Username" required></p>
                </form>
            {% endif %}

        {%else%}
        <div class="start">
            <h1>Welcome to Ridr</h1>

            <button><a href="/login">Get Started</a></button>
        </div>
        {%endif%}
    </div>
    <script type="text/javascript">
        if (window.location.hash && window.location.hash == '#_=_') {
            window.location.hash = '';
        }
    </script>
{% endblock %}