<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.structure.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.theme.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.timepicker.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.sidr.dark.min.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="/static/jquery.sidr.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.timepicker.min.js') }}"></script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '259154491127882',
                xfbml      : true,
                version    : 'v2.6'
            });
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>
<body class="{% block body_class %}{% endblock %} {%if 'user' in session%}logged_user{%endif%}">
    <div id="sidr" class="sidr">
        <ul>
            <li><a href="#">List 1</a></li>
            <li><a href="#">List 2</a></li>
            <li><a href="#">List 3</a></li>
        </ul>
    </div>
    <div class="background_full_screen"></div>
    <div class="main_wrap">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <header>
            <i id="mobile-menu" class="fa fa-bars" aria-hidden="true"></i>
            <div class="header container {% block header_class %}{% endblock %}">
                <div class="row">
                    <div class="site_logo col-md-3">
                        <a
                                href="/"><img class="logo"
                                              src="{{ url_for('static', filename='images/ridr_transparent-1.png') }}"></a>
                    </div>
                    <div class="top_menu col-md-9">
                        <ul>
                            {%if 'user' not in session%}
                                <li><a href="/login">Login</a></li>
                                <li><a href="/login">Sign Up</a></li>
                            {%else%}
                                <li><a href="/event/new">New Ride</a></li>
                                <li><a href="/events">Rides</a></li>
                                <li><a href="/">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            {%endif%}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="content container {% block content_class %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    <footer class="copyright">
        <div class="container">
            &copy 2016 Ridr
        </div>
    </footer>
    <script>
        jQuery(function($){
            $(document).ready(function() {
                $('#mobile-menu').on('click',function(){
                    if ( $('.open').length > 0 ) {
                        $('.open').removeClass('open');
                    } else {
                        $('#sidr').addClass('open');
                    }
                });
                $(document).mouseup(function (e) {
                    var container = $("#sidr");

                    if (!container.is(e.target) && container.has(e.target).length === 0) {
                        $('.open').removeClass('open');
                    }
                });
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>